*, *::before, *::after {
  box-sizing: inherit;
}

.html {
  font-family: Georgia;
  background-color: #785439;
  font-style: normal;
}

h2 {
  font-family: 'Dosis', sans-serif;
}

.link-card {
  background-color: #785439
}

.link-card:hover {
  background-color: #cabdb2
}

.btn {
  color: #333;
}
