html {
  box-sizing: border-box;
  font-family: Georgia;
  background-color: #512200;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  text-decoration: none;
  background-color: #cabdb2;
  border: 3px 2px;
  border-color: #9a816d;
}

h2 {
  font-family: "Dosis", sans-serif;
}

.link-card {
  background-color: #512200;
}

.link-card:hover {
  background-color: #cabdb2;
}

.btn {
  color: #333;
}

.div {
  display: inline-block;
  background-color: #785439;
}
